

<h3>Order</h3>

<form method="POST" asp-controller="Order" asp-action="UpdateTotal">
    <table>
        <tr>
            <th>Name</th>
            <th>Platform</th>
            <th>ImgUrl</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        @{
            decimal sumOfGamePrices = 0;

            foreach (CartItemViewModel cartItem in ViewBag.cart)
            {
                <tr>
                    <td>@cartItem.GameInCart.Name</td>
                    <td>@cartItem.GameInCart.Platform</td>
                    <td><img src="@cartItem.GameInCart.ImgUrl" width="60" height="75"></td>
                    <td>@cartItem.GameInCart.Price</td>
                    <td>@cartItem.QuantityOfGame</td>
                    <td>@cartItem.TotalGamePrice</td>
                 
                    @{
                        sumOfGamePrices += cartItem.TotalGamePrice;
                    }
                        
                </tr>
            }

    <tr>
        @{
            bool areEqual = sumOfGamePrices == ViewBag.total;
            if (areEqual)
            {
                string discountCodeEntered = null;
                <input type="submit" value="Update" />
                <input name="discountCodeEntered" value="@discountCodeEntered" />

            }
            <lanel>Delivery tax</lanel>
            decimal deliveryTax = Constant.DELIVERY_TAX;

            <span>@string.Format("{0:F2}", deliveryTax)</span>
            <td colspan="6" align="right">Total</td>
            ViewBag.total += deliveryTax;
            decimal total = ViewBag.total;
            <td>@string.Format("{0:F2}", total)</td>
        }


    </tr>
            }
    </table>
</form>

@{ /*
        
         */}

<a asp-controller="Game" asp-action="Index">Continue shopping</a>
<a asp-controller="Order" asp-action="ConfirmOrderDetails">>Confirm order details</a>
