@model List<OrderViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Created at
            </th>
            <th>
                Delivery date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderViewModel order in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.CreatedAtUtc.ToLocalTime().ToShortDateString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.DeliveryDate.ToLocalTime().ToShortDateString())
                </td>
                <td>
                    <a asp-controller="Order" asp-action="OrderDetails" asp-route-id="@order.Id">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
