@model IEnumerable<GameViewModel>
@inject SignInManager<User> signInManager;

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>


@if (signInManager.IsSignedIn(User) && User.IsInRole(Role.ADMIN))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Platform)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Developer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AgeRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearOfRelease)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAtUtc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedAtUtc)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Platform)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Developer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AgeRating)+
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearOfRelease)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAtUtc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedAtUtc)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    foreach (var game in Model)
    {
        <div class="card" style="display: inline-block; width: 350px; height: 400px; margin-top: 15px; margin-right: 15px;";>
            <div style="text-align: center" class="card-body">
                <div style="font-size: 17px; font-weight: bold; margin-bottom: 5%">@game.Name</div>
                <img src="@game.ImgUrl" style="width: 175px; height: 219px; margin-bottom: 5%;" />
                <div style="font-size: 15px">@game.Price</div>
            </div>
            <div class="card-footer" style="display: inline-block; width:350px">
                <div style="text-align: center">
                    <a class="btn btn-primary" style="margin-right: 2%" asp-controller="Cart" asp-action="Buy" asp-route-id="@game.Id">Add to cart</a>
                    <a class="btn btn-info" asp-controller="Game" asp-action="Details" asp-route-id="@game.Id">Details</a>
                </div>
            </div>
        </div>
    }
}

